@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&family=Homenaje&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Homenaje', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
